* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #fafafa;
  height: 100vh;
  width: 100vw;
  color: black;
  overflow-y: hidden;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Manrope", sans-serif;
  background-color: #fafafa;
}

.side--bar {
  flex: 0 0 260px;
  max-width: 260px;
  height: 100vh;
  background-color: #3a5743;
  padding: 0;
  margin: 0;
}

.side--bar img {
  margin-top: 10px;
  margin-left: 21px;
  padding: 0;
}

.side--bar ul {
  margin: 0;
  margin-top: 35px;
  margin-left: 21px;
  width: 206px;
  list-style-type: none;
  padding: 0;
}

.side--bar ul li {
  font-size: 14px;
  padding: 12px 8px 12px 16px;
  display: flex;
  align-items: center;
  color: #cfccd6;
  cursor: pointer;
}

.side--bar ul li:hover {
  color: #ffba49;
}

.normal-link:hover {
  color: #ffba49;
}

.side--bar ul li img {
  margin-right: 8px;
  width: 24px;
  height: 24px;
  margin-bottom: 11px;
  align-self: center;
  margin-left: 16px;
}
.active-link {
  text-decoration: none;
  color: #ffba49;
}

.normal-link {
  text-decoration: none;
  color: #cfccd6;
}

.user--display {
  background-color: #fafafa;
  color: black;
  width: 90%;
  padding-left: 24px;
  padding-right: 60px;
  padding-top: 48px;
  height: 100%;
  overflow: hidden;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  color: white;
  align-items: center;
  height: 48px;
  padding: 8px 4px 8px 4px;
  width: auto;
  border-radius: 10px;
}
.nav h1 {
  font-size: 16px;
  color: black;
  font-weight: bolder;
  margin-top: 3px;
  margin-right: 4px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: white;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0; /* Adjust according to your layout */
  top: 100%; /* Position below the dropdown button */
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.dropdown-content button {
  background-color: #f1f1f1;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 100%;
  cursor: pointer;
}

.dropdown-content button:hover {
  background-color: #ddd;
}

.side--nav {
  display: flex;
  align-items: center;
  height: 32px;
}

.side--nav h1 {
  font-size: 14px;
  color: black;
  padding-top: 6px;
  padding-right: 10px;
  padding-left: 4px;
}

#notif {
  margin-right: 24px;
}

.info {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-right: 59px;
  margin-left: 0px;
  padding: 10px;
  padding-left: 0;
  padding-right: 0;
  margin-top: 32px;
  margin-bottom: 40px;
}

.info--card {
  max-width: 227px;
  width: auto;
  height: 200px;
  flex: 1;
  margin-right: 0;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 7px 20px -6px rgba(0, 0, 0, 0.11);
  transition: box-shadow 0.002s ease; /* Smooth transition for box-shadow */
}

.info--card:hover {
  animation: animateShadow 2s infinite alternate; /* Apply animation on hover */
}

@keyframes animateShadow {
  0% {
    box-shadow: 0 7px 20px -6px white(0, 0, 0, 0.11);
  }
  100% {
    box-shadow:
      0 0 20px rgba(255, 255, 255, 0.5),
      0 0 30px #3a5743; /* Gradient box-shadow */
  }
}

.info--card:last-child {
  margin-right: 0; /* Removes margin from the last child div */
}

.info--card img {
  margin-top: 16px;
  margin-left: 24px;
}

.info--card h1 {
  text-align: center;
  margin-bottom: 0;
  font-size: 32px;
  margin-top: 30px;
}
.info--card p {
  text-align: center;
  font-size: 18px;
  margin-top: 0;
  color: #5b5b5b;
  font-weight: 600;
}

.final-container {
  margin-top: 48px;
  width: 100%;
  height: 100vh;
}

.final-container-user {
  margin-top: 48px;
  width: 100%;
  height: 100vh;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
}

table {
  border-radius: 10px;
}

.table th,
.table td {
  padding: 10px;
  border: none;
  border-bottom: 1px solid #adc59e;
  white-space: nowrap; /* Prevent line breaks */
}

.table th {
  border-bottom: 1px solid #3a5743;
  margin-bottom: 10px;
}

.table tr {
  height: 54px;
}

.table-row:hover {
  background-color: red !important;
  cursor: pointer;
}

.final-container {
  width: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  margin-top: 0;
  height: auto;
}

.final-container-user {
  width: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  margin-top: 0;
  height: auto;
}

::-webkit-scrollbar {
  display: none;
}

.item1 {
  display: inline-block;
  width: 66.1%;
  box-sizing: border-box;
  vertical-align: top;
  overflow-y: scroll;
  height: 600px;
  border-radius: 10px;
  padding: 5px;
}

.item3 {
  display: inline-block;
  width: 33.9%;
  box-sizing: border-box;
  vertical-align: top;
  overflow-y: scroll;
  height: auto;
}

.user-i {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
  height: 300px !important;
}

.graph-nav {
  background-color: white;
  height: 38px;
  margin-bottom: 19px;
  border-radius: 10px;
  width: 93.92%;
  box-shadow: 0 7px 20px -6px rgba(0, 0, 0, 0.04);
  padding-left: 1px;
}

.graph-nav h1 {
  font-size: 20px;
  font-weight: 600 !important;
  color: #6a6b6d !important;
  padding-top: 5.5px;
  padding-bottom: 5.5px;
}

.graph-nav-p {
  font-size: 14px;
  color: #8d9091;
  border: 1px solid #efefef;
  height: 38px;
  padding-bottom: 5.5px;
  padding-left: 16px;
  padding-right: 25px;
  border-radius: 10px;
  font-weight: 400;
}

.graph-nav-p button {
  margin-left: 14px;
  margin-right: 8px;
  color: #8d9091;
  border: none;
  background-color: white;
  font-weight: 700;
  font-size: 20px;
}

.graph-nav-p img {
  margin-right: 9px;
  padding-bottom: 3px;
}

.item2 {
  position: relative;
  height: 340px;
  font-size: 12px;
  overflow: hidden;
  margin-bottom: 0;
  width: auto;
  padding-right: 0;
  margin: 0;
}

.top-rated-vendors {
  width: 341px;
  position: absolute;
  top: 47%;
  right: 0;
  transform: translate(0, -50%);
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding-top: 12px;
  box-shadow: 0 7px 20px -6px rgba(0, 0, 0, 0.11);
  overflow-y: scroll;
  height: 320px;
  margin-right: 0;
}

.top-rated-vendors h3 {
  text-align: center;
  margin-bottom: 28px;
  color: #6a6b6d;
  font-size: 20px;
}

.vendor-row {
  margin: 16px;
}

.vendor {
  width: 350px;
}

.line--chart {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
}

nav {
  background-color: #3a5743;
  height: 40px;
  width: 100%;
  margin: 0;
  display: none;
  position: fixed;
  z-index: 1000;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 100px;
  margin: 0 5px;
}

.checkbtn {
  float: right;
  line-height: 40px;
  margin-right: 40px;
  display: none;
  font-size: 40px;
  color: white;
}

#check {
  display: none;
}

.pagination {
  background-color: white;
  border-radius: 10px;
}

.table-container {
  border-radius: 10px !important;
}

.table {
  border-radius: 10px !important;
}

tbody {
  border-radius: 10px !important;
  color: #8d9091;
}

th,
td {
  color: #8d9091 !important;
  height: 54px;
  font-size: 14px;
  font-weight: 500 !important;
}

tbody tr:first-child {
  height: 78px;
  vertical-align: bottom;
}

.vendor-row {
  padding: 0;
  display: flex;
  width: auto;
  font-size: 12px;
}
.vendor--p1,
.vendor--p2,
.vendor--p3 {
  flex: 1; /* Equal width for each div */
  display: flex; /* Flex container */
  align-items: center; /* Align items vertically center */
  justify-content: space-between;
}

.vendor--p1 {
  justify-content: flex-start; /* Align content to the start */
}

.vendor--p2 {
  display: flex;
  justify-content: flex-end;
}

.vendor--p3 {
  justify-content: flex-end; /* Align content to the end */
}

.user--p1,
.user--p2 {
  flex: 1; /* Equal width for each div */
  display: flex; /* Flex container */
  align-items: center; /* Align items vertically center */
  justify-content: center;
}

.vendor--p3 {
  justify-content: flex-end; /* Align content to the end */
}

.user--p1 {
  justify-content: flex-start; /* Align content to the start */
}

.user--p2 {
  justify-content: flex-end; /* Align content to the end */
}

.arrow-button {
  color: black;
}

.user--display {
  overflow-y: scroll;
}

.login_body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8d9091;
  padding: 20px;
}

.login-container {
  max-width: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  width: fit-content;
  max-width: 300px;
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 20px;
}

input[type="password"],
input[type="email"] {
  width: 300px;
  padding: 10px;
  margin: 10px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.login_body button {
  margin-top: 30px;
  width: 100%;
  max-width: 300px;
  background-color: #3a5743;
  color: white;
  font-weight: bold;
  height: 50px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

.login-body-item {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

/* Media queries for different screen sizes */
@media (max-width: 768px) {
  .login-container {
    padding: 20px 40px; /* Adjust padding for smaller screens */
  }

  input[type="password"],
  input[type="email"] {
    max-width: 200px; /* Maintain max-width constraint */
  }

  .login_body button {
    max-width: 100%; /* Remove max-width constraint */
  }
}

@media (max-width: 480px) {
  .login-container {
    padding: 20px; /* Adjust padding for very small screens */
  }

  input[type="password"],
  input[type="email"] {
    padding: 8px; /* Adjust padding for very small screens */
  }

  .login_body button {
    height: 45px; /* Adjust height for very small screens */
  }
}

.star-rating {
  display: flex;
  align-items: right;
}

.star {
  font-size: 15px;
  color: lightgray; /* Grey or ash color for empty stars */
}

.star.filled {
  color: gold; /* Yellow color for filled stars */
}

.post-logout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 2px solid red;
}

.post-logout img {
  margin-bottom: 50px;
}

.post-logout h4 {
  margin-bottom: 50px;
}

@media screen and (min-width: 1750px) {
  .item1 {
    display: inline-block;
    width: 75%;
    box-sizing: border-box;
  }
  .item3 {
    display: inline-block;
    width: 25%;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 1700px) {
  .item1 {
    display: inline-block;
    width: 68%;
    box-sizing: border-box;
  }
  .item3 {
    display: inline-block;
    width: 32%;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 1500px) {
  .side--bar {
    flex: 0 0 150px;
    max-width: 150px;
    height: 100vh;
    background-color: #3a5743;
    padding: 0;
    margin: 0;
  }

  .user--display {
    width: 90%;
  }

  .side--bar img {
    margin-top: 10px;
    margin-left: 21px;
    padding: 0;
    margin: 0;
  }

  .side--bar ul {
    margin: 0;
    margin-top: 38px;
    margin-left: 21px;
    width: 206px;
    list-style-type: none;
    padding: 0;
  }

  .side--bar ul li {
    padding: 12px 8px 12px 16px;
    display: flex;
    align-items: center;
    color: #cfccd6;
    font-size: 0;
  }

  .side--bar ul li img {
    margin-left: 20px;
    width: 30px;
    height: 30px;
    margin-bottom: 11px;
    align-self: center;
  }
  .info {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 0;
  }
  .info--card {
    max-width: 227px;
    width: 227px;
    height: auto;
    align-self: center;
    align-items: center;
    margin: 5px;
    margin-bottom: 10px;
    flex: 1 0 50%;
    text-align: center;
  }

  .info--card img {
    align-self: center;
    margin-right: 20px;
  }
}

@media screen and (max-width: 1370px) {
  .item1,
  .item3 {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    vertical-align: top;
    margin-bottom: 40px;
  }

  .user--display {
    overflow-y: scroll;
  }
  .top-rated-vendors {
    width: 341px;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .item3 {
    display: block;
  }

  .item3 {
    display: flex;
  }

  .item2 {
    flex: 1; /* Equal width for both items */
    margin-right: 10px;
  }
}

@media screen and (max-width: 940px) {
  .side--bar {
    display: none;
  }
  body {
    height: auto;
    margin: 0;
    padding: 0;
  }
  .main {
    width: auto;
    height: 100%;
  }
  .user--display {
    background-color: #fafafa;
    color: black;
    width: 100vw;
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding-right: 30px;
    padding-left: 30px;
  }
  .info {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-right: 30px;
    padding: 20px;
  }
  .info--card {
    max-width: 200px;
    width: auto;
    height: auto;
    align-self: center;
    align-items: center;
    margin: 5px;
    margin-bottom: 10px;
    flex: 1 0 50%;
    text-align: center;
  }
  .item1,
  .item3 {
    margin-top: 30px;
  }

  .info--card img {
    align-self: center;
    margin-right: 20px;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    color: white;
    align-items: center;
    height: auto;
    margin-bottom: 20px;
  }
  .side--nav h1 {
    margin-right: 2px;
    margin-left: 7px;
    font-weight: 100;
  }
  nav {
    display: block;
  }
  nav ul li {
    font-size: 15px;
  }
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #3a5743;
    top: 40px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    color: #cfccd6;
    font-size: 20px;
    margin-right: 40px;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

@media screen and (max-width: 783px) {
  .item3 {
    display: block;
  }
}

/* Optional: Add media query for responsiveness */
@media screen and (max-width: 600px) {
  .item1,
  .item3 {
    display: inline-block;
    width: 100%; /* On smaller screens, make both items take up full width */
    margin-bottom: 50px;
    box-sizing: border-box;
  }
  .final-container {
    margin-top: 50px;
  }

  .item2 {
    overflow: scroll;
  }
}

@media screen and (max-width: 573px) {
  .graph-nav h1 {
    font-size: 15px !important;
    margin-top: 5px;
  }
  .graph-nav-p {
    font-size: small;
  }
}

@media screen and (max-width: 554px) {
  .info {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 auto;
  }
  .info--card {
    max-width: 200px;
    width: auto;
    height: auto;
    align-self: center;
    align-items: center;
    margin: 5px;
    margin-bottom: 10px;
    flex: 1 0 100%;
    text-align: center;
  }
}

@media screen and (max-width: 492px) {
  .info {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
  }
  .info--card {
    width: auto;
    height: auto;
    align-self: center;
    align-items: center;
    margin: 5px;
    margin-bottom: 10px;
    flex: 1 0 100%;
    text-align: center;
    max-width: 130px;
  }

  .info--card p {
    text-align: center;
    font-size: 13px;
    margin-top: 0;
    color: #5b5b5b;
  }

  .side--bar img {
    margin-top: 10px;
    margin-left: 10px;
    padding: 0;
    margin: 0;
  }

  .item2 {
    margin-bottom: 30px;
    height: 400px;
  }

  .nav h1 {
    font-size: 12px;
    color: black;
    font-weight: bolder;
  }
  .vendor {
    font-size: 12px;
  }

  #notif {
    margin-right: 10px;
  }

  .vendor--line {
    margin-right: 6px !important;
  }
  .graph-nav-text {
    display: none;
  }

  .no-of-pages {
    font-size: 10px;
  }
  m .pagination-button {
    font-size: 10px;
  }
  .user-toggle {
    font-size: 12px;
  }
}

@media screen and (max-width: 461px) {
  .user--line--star {
    margin-left: 30px !important;
  }
}

@media screen and (max-width: 420px) {
  .vendor-row {
    margin: 0;
  }
  .vendor {
    width: 100%;
  }

  .top-rated-vendors {
    width: 100%;
  }
  .vendor-row {
    margin: 16px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 400px) {
  .graph-nav h1 {
    font-size: 15px !important;
    margin-top: 5px;
  }

  .graph-nav-p {
    font-size: 10px;
  }

  .graph-nav-p img {
    margin-right: 0;
    padding-bottom: 5px;
  }

  .graph-nav-p button {
    margin-left: 6px;
    margin-right: 8px;
  }
}
